@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

body{
    background: url(resources/images/tito\ logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);


}

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
    text-decoration: none;
}

.nav-logo p{
    text-decoration: none;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
}

.nav-menu ul{
    display: flex; 
}

.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 700;
    color: antiquewhite;
    padding-bottom: 15px;
    margin: 0 25px;

}

.link:hover, .active{
    border-bottom: 2px solid #fff;

}

.nav-menu-btn{
    display: none;

}

@media only screen and (max-width: 786px){
    .nav-menu.responsive{
        top: 100px;

    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;

    }

    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn{
        display: block;
    }

    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
        
    }

    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
        
    }
    
    .photo-gallery{
        flex-direction: column;
    }
    .table {
        font-size: 1rem; 
      }
}

@media only screen and (max-width: 540px) {
    .wrapper{
        min-height: 100vh;
    }

    
}


footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

.resources-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 90px;
    background: #927f74;
    
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #770968;
}

.resource-category {
    margin-bottom: 40px;
}

.resource-category h2 {
    text-decoration:solid #770968;
    border-bottom: 2px solid #770968;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.resource-list {
    list-style: none;
    padding: 0;
    text-decoration: #770968;
}

.resource-list li {
    margin-bottom: 15px;
}

.resource-list a {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.resource-list a:hover {
    text-decoration: underline;
}

.resource-list a i {
    margin-right: 10px;
    color: whitesmoke;
    font-size: 1.5em;
}

.resource-list a:hover i {
    color: #0056b3;
}

.photo{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 70px;
}

.title{
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid #222;
    margin-bottom: 2rem;

}

.title span{
    font-weight: 100;
}

.photo-gallery{
    display: flex;
    gap: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pics img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;

}

.map-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-us{
    position:relative;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.content{
    max-width: 800px;
    text-align: center;
}

.content p{
    color: #fff;
    font-weight: 300;
}

.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box{
    position: relative;
    padding:20px 0;
    display: flex;
}


.contact-icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
}

.contact-text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;

}
.contact-text a {
    color: inherit;
    text-decoration: none; 
}
.contact-text h5{
        font-weight: 500;
        color: #770968;
    }

.contact-text a:hover {
    text-decoration: underline; 
}

.contact-form{
    width: 40%;
    padding: 40px;
    background: #fff;

}

.contact-form h4{
    font-size: 35px;
    color: #333;
    font-weight: 600;
}

.inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputBox input,
.inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5%;
    color: #666;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}
.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.reset-button{
    background-color: #e09838;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.reset-button:hover {
    background-color: #fffb0086;
}

@media (max-width: 991px) {
    .contact-us{
        padding: 50px;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-info,
    .contact-form{
        margin-bottom: 40px;
        width: 100%;
    }
}


.welcome {
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    padding: 100px;
    background: transparent;   
}

.title-welcome {
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    border-bottom: 3px solid #222;
    margin-bottom: 2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.motto {
    font-size: 2em;
    margin-top: 10px;
    color: #770968;
}

.about-container {

    padding: 10px;
    
    justify-content: space-around;
}

.about-main {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    gap: 20px;
}

.about-text {
    width: 70%;
    color: #770968;
    flex: 1;
}

.about-text h2 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-top: 20px;
}

.about-text p {
    font-size: 18px;
    
}

.contact-button {
    background: #cfcfcf;
    color: #000;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.5s;
    font-size: 25px;
    margin-top: 20px;
    display: inline-block;
}

.contact-button:hover {
    cursor: pointer;
    background: transparent;
    border: 2px solid #000;
    color: #000;
}
.adminlogin {
    background: #cfcfcf;
    color: #000;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.5s;
    font-size: 10px;
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.adminlogin:hover{
    cursor: pointer;
    background: transparent;
    border: 2px solid #000;
    color: #000;
}
.form{
    width: 100%;
    padding: 40px;
    font-size: 3em;
    
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    font-size: 1.2rem; 
  }
  
  
  .table-bordered {
    border: .5px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: .5px solid #dee2e6;
    padding: 0.75rem; 
  }
  
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #77096834;
  }

  .table-striped tbody tr:last-of-type {
    background-color: #770968;
  }

  .table-striped tbody tr.active-row {
    font-weight: bold;
    color: #770968;
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  .table-hover tbody tr:hover td,
  .table-hover tbody tr:hover th {
    border: 2px solid #3c5f1f;
  }
  
  
  .table thead th {
    font-weight: bold;
    background-color: #770968;
  }
  
  
  .table {
    border-radius: 0.25rem;
    overflow: hidden;
  }
  
  
  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }